<div class="container-fluid">
 <div class="row">
   <div class="col-md-12 col-lg-12 col-sm-12 title"> <h1>Frequently Asked Questions</h1></div>
   <p>These are some frequently asked questions.</p>
    <div class="col-md-3 col-sm-3 col-lg-3"><b>Question</b></div>
    <div class="col-md-6 col-sm-6 col-lg-6"><b>Answer</b></div>
   <table>
     <tr>
       <td><b>Do I have a cat?</b></td><!--question -->
       <td>Yes.</td><!-- response -->
     </tr>
     <tr>
       <td><b>Am I allergic to peanut butter?</b></td>
       <td>Yes. I am severely allergic to peanut butter.</td>
     </tr>
     <tr>
       <td><b>What clubs have I been in?</b></td>
       <td>Model Un, Support Our Soldiers, Game Development, CS Club, AITP.</td>
     </tr>
     <tr>
       <td><b>Does the narwhale bacon at midnight?</b></td>
       <td>Obviously...</td>
     </tr>
     <tr>
       <td><b>Does this site have everything?</b></td>
       <td>No, it does not have a toilet...</td>
     </tr>
     <tr>
       <td><b>Are these really frequently asked questions?</b></td>
       <td>I ask them quite often.</td>
     </tr>
   </table>
 </div>
</div>
