<h4>Profile</h4><hr/>
<p>To secure an internship and expand my knowledge of the Information Systems and Technology.</p>
<h4>Education</h4><hr/>
<div class="col-md-12">
  <p style="float: left;">Eastern Connecticut State University, Willimantic CT</p> <p style="clear:right; text-align: right;">December 2016</p>
  <p style="float:left;">Major: B.S. Business Information Systems</p>
  <p style="text-align: center;">Minor: Computer Science</p>
</div>
<h4>Technical Skills</h4><hr/>
<table class="skillz">
  <tr>
    <td>MySQL</td>
    <td>JavaScript</td>
    <td>MS Windows</td>
  </tr>
  <tr>
    <td>SQL Server</td>
    <td>AngularJs</td>
    <td>Debian/Linux</td>
  </tr>
  <tr>
    <td>MS Access</td>
    <td>Visual Basic</td>
    <td>MS Excel</td>
  </tr>
  <tr>
    <td>SQL</td>
    <td>C++</td>
    <td>MS Visio</td>
  </tr>
  <tr>
    <td>Ruby on Rails</td>
    <td>JQuery</td>
    <td>MS Word</td>
  </tr>
  <tr>
    <td>Python</td>
    <td>HTML</td>
    <td>MS PowerPoint</td>
  </tr>
  <tr>
    <td>Apache</td>
    <td>CSS</td>
    <td>MS Outlook</td>
  </tr>
</table>
<h4>Relevant Coursework</h4><hr/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-5 col-lg-5">
      <p>Inter-Organizational Information Systems</p>
      <p>E-Commerce</p>
      <p>Human Computer Interfaces</p>
      <p>Business Communication and E-Networks</p>
    </div>
    <div class="col-md-6 col-sm-5 col-lg-5">
      <p>Systems Analysis and Design</p>
      <p>Computer Science II - Java</p>
      <p>Game Design</p>
      <p>Business Continuity and Risk Management</p>
    </div></div></div>
<h4>Work Experience</h4><hr/>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <p class="position">Chartwells - Night Manager</p>
    </div>
    <div class="col-sm-6 col-md-6">
      <p class="time">September 2015 - Present</p>
    </div>
    <div class="col-md-12 col-sm-12">
      <ul>
        <li>Oversee evening service operations</li>
        <li>Ensure integrity and quality of product</li>
        <li>Monitor customer environment</li>
      </ul>
    </div></div></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <p class="position">Uncles Deli- Cook/Server</p>
    </div>
    <div class="col-sm-6 col-md-6">
      <p class="time">May 2013/14/15 - August 2013/14/15</p>
    </div>
    <div class="col-md-12 col-sm-12">
      <ul>
        <li>Was sole operator of Uncles by the Shore:Pear Tree</li>
        <li>Managed Inventory</li>
        <li>Opened and closed retail location</li>
      </ul>
    </div></div></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <p class="position">Arrowhawk Capital Partners LLC - It Support/Help</p>
    </div>
    <div class="col-sm-6 col-md-6">
      <p class="time">June 2008 - August 2008</p>
    </div>
    <div class="col-md-12 col-sm-12">
      <ul>
        <li>Assisted with the installation of office infrastructure and networking</li>
        <li>Provided Tier 1 Technical Support</li>
        <li>Setup workstations and conference rooms</li>
        <li>Developed basic databases for tracking office equipment</li>
      </ul>
    </div></div></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h4>Activities and Honors</h4><hr/>
    </div>
    <div class="col-sm-2 col-md-2">
      <p class="time">2013 - Present</p>
    </div>
    <div class="col-md-10 col-sm-10">
      <p>Member of Association of Information Technology Professionals</p>
    </div>
    <div class="col-sm-2 col-md-2">
      <p class="time">2013 - 14</p>
    </div>
    <div class="col-md-10 col-sm-10">
      <p>Top Ten and Honorable Mention in AITP National Collegiate Conference, Web Application Project</p>
    </div>
    <div class="col-sm-2 col-md-2">
      <p class="time">2013 - 15</p>
    </div>
    <div class="col-md-10 col-sm-10">
      <p>3<sup>rd</sup> Place in AITP National Collegiate Conference, Web Application Project</p>
    </div>
    <div class="col-sm-2 col-md-2">
      <p class="time">April 2015</p>
    </div>
    <div class="col-md-10 col-sm-10">
      <p>1<sup>st</sup> in Cigna Code-athon</p>
    </div>
    <div class="col-sm-2 col-md-2">
      <p class="time">2015 - 16</p>
    </div>
    <div class="col-md-10 col-sm-10">
      <p>Top Ten and Honorable Mention in AITP National Collegiate Conference, Web Application Project</p>
    </div>
    <div class="col-sm-2 col-md-2">
      <p class="time">2014 - 16</p>
    </div>
    <div class="col-md-10 col-sm-10">
      <p>Treasurer, President of AITP</p>
    </div>
  </div></div>