<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <p class="copywrite"><i> MyLauer Inc.</i> </p>
      <p class="footer-links" style="color: white;">
        <%=render 'layouts/footer_links' %>
      </p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <p style="text-align: right;color: #ebffe1;" >83 High Street Willimantic, CT 06226<br>
        <a class="'logo" style="color:white;" href="mailto:michael@milauer.com">Email Friendly #HashtagFrootRollupz</a><br>
        Ivan Riquelme: You can sign up, but I am going to win it.</p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p style="text-align:center;"><a href="https://www.facebook.com/profile.php?id=100010913254900"><i class="fi-social-facebook logo">#HashtagSocialMedia</i></a><br>
        <a href="https://www.linkedin.com/in/milauer"><i class="fi-social-linkedin logo">#HashtagSocialMediaFOURBEEZKNEEZ</i></a><br>
        <a href="https://github.com/miguelito20"><i class="fi-social-github logo">#HAShTagPUBlicCodeReposetion</i></a></p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p class="copywrite" style="text-align: right;">Property of MyLauer Inc. 2015</p>
    </div>
  </div>
</div>