<p style="color: white;"><%= link_to 'Home', root_path %></p>
<p style="color: white;"><%= link_to 'Blog', articles_path %> </p>
<p style="color: white;"><%= link_to 'FAQ', faq_path %></p>
<p style="color: white;"><%= link_to 'Resume', resume_path %></p>
