<%# navigation styled for Zurb Foundation 5 %>
<nav class="navbar navbar-inverse" data-topbar role="naviagtion">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav">
      <li class="navbar-brand" href=>Michael Lauer</li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <%=render 'layouts/navigation_links' %>
    </div>
  </div>
</nav>

